<h1 class="border-bottom">
  Register
</h1>
<form [formGroup]='form' (submit)="onRegisterSubmit()">
  <div class="form-group">
    <div [ngClass]="{'is-invalid': (form.controls.username.errors && form.controls.username.dirty), 'is-valid': !form.controls.username.errors}">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Enter username" formControlName="username">
      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
        <li *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength">Minimum characters: 5, Maximum characters: 15</li>
        <li *ngIf="form.controls.username.errors?.validateUserName && form.controls.username.dirty">Username must not have any special characters</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div [ngClass]="{'is-invalid': (form.controls.email.errors && form.controls.email.dirty), 'is-valid': !form.controls.email.errors}">
      <label for="email">Email address</label>
      <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
        <li *ngIf="form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength">Minimum characters: 5, Maximum characters: 30</li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid Email</li>
      </ul>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>

  <div class="form-group">
    <div [ngClass]="{'is-invalid': (form.controls.password.errors && form.controls.password.dirty), 'is-valid': !form.controls.password.errors}">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
        <li *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">Minimum characters: 8, Maximum characters: 35</li>
        <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">'Must have at least one uppercase, lowercase, special character, and number</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div [ngClass]="{'is-invalid': (form.controls.confirm.errors && form.controls.confirm.dirty), 'is-valid': !form.controls.confirm.errors}">
      <label for="confrm">Confirm password</label>
      <input type="password" name="confirm" class="form-control" id="confirm" placeholder="Confirm password" formControlName="confirm">
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match</li>
      </ul>
    </div>
  </div>

  <button [disabled]="!form.valid" type="submit" class="btn btn-primary" value="submit">Submit</button>
</form>
